<footer id="rodape" class="border-top border-secondary-subtle py-5">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center gap-3 text-center">
      <p class="mb-0 text-body-secondary">© 2026 Nunjunks. Todos os direitos reservados.</p>
      <ul class="nav justify-content-center gap-2">
        <li class="nav-item">
          <a href="#hero" class="nav-link p-0 text-body-secondary">Início</a>
        </li>
        <li class="nav-item">
          <a href="#depoimentos" class="nav-link p-0 text-body-secondary">Depoimentos</a>
        </li>
        <li class="nav-item">
          <a href="#faq" class="nav-link p-0 text-body-secondary">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
