.mask-image {
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
}

.cover-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}